@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header_left-links,
.header_right-links {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.header_right-links {
  margin-right: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

a {
  text-decoration: none;
  color: gray
}

li {
  list-style-type: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #EEEEEE;
  padding: 12px
}

.footer_left-links,
.footer_right-links {
  display: flex;
  gap: 12px;
}

.footer_right-links {
  margin-right: 24px;
}